<div class='container' ng-controller='questionDetailCtrl'>
    <div class='row question-detail-group'>
        <div class='col-xs-10'>
            <article class='article'>
                <header>
                    <h1>About Code Exchange</h1>
                </header>
                    <br>
                    <br>
                    <p class='about-question'>
                        <strong>What is Code Exchange?</strong>
                    </p>
                    <p class='about-answer'>
                        <span>
                            Code Exchange is a website where you can ask and answer questions related to programming.
                        </span>
                    </p>
                    <br>
                    <p class='about-question'>
                        <strong>Why did you create Code Exchange?</strong>
                    </p>
                    <p class='about-answer'>
                        <span>
                            I created Code Exchange in order to teach myself the MEAN stack, and I thought it would be fun to create a site similar to StackOverflow!
                        </span>
                    </p>
                    <br>
                    <p class='about-question'>
                        <strong>Can I contribute to Code Exchange?</strong>
                    </p>
                    <p class='about-answer'>
                        <span>
                            Of course! Just send in a pull request <a href='https://www.github.com/codycald'>here</a> when you complete your work.
                        </span>
                    </p>
                    <br>
                </div>
            </article>
        </div>
    </div>
</div>
