<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Brand</a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show='!userData'><a href="#/login">Login</a></li>
            <li ng-show='!userData'><a href="#/register">Sign Up</a></li>
            <li ng-show='userData'><a ng-controller='logoutCtrl' href='' ng-click='logout()'>Logout</a></li>
        </ul>
    </div>
</nav>
