<div class='container' ng-controller='questionDetailCtrl'>
    <div class='row question-detail-group'>
        <div class='col-xs-10 col-xs-offset-1'>
            <div class='row'>
                <!--title-->
                <div class='col-xs-12 text-wrap'>
                    <h3>{{question.title}}</h3>
                </div>
            </div>
            <!--question-->
            <div class='row'>
                <div class='col-xs-1'>
                    <!--Up arrow-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <a href='' ng-click='upvote(question)'>
                                <i ng-class="isupvoted(question) ? 'vote-selected' : 'vote-unselected'" class='fa fa-caret-up fa-3x' aria-hidden='true'></i>
                            </a>
                        </div>
                    </div>
                    <!--Vote count-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <h3 class='vote-detail'>{{question.votes}}</h3>
                        </div>
                    </div>
                    <!--Down arrow-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <a href='' ng-click='downvote(question)'>
                                <i ng-class="isdownvoted(question) ? 'vote-selected' : 'vote-unselected'" class='fa fa-caret-down fa-3x' aria-hidden='true'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class='col-xs-11'>
                    <!--text-->
                    <div class='row'>
                        <div class='col-xs-12 text-wrap'>
                            <p ng-bind-html='question.text'></p>
                        </div>
                    </div>
                    <!--profile-->
                    <div class='row pull-right'>
                        <div class='col-xs-12'>
                            <div class='row'>
                                <h5>asked {{question.date | date: 'MMM d, y'}}</h5>
                            </div>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    <img class='profile-img' src='{{question.author.url}}'>
                                </div>
                                <div class='col-xs-8'>
                                    <h6>{{question.author.username}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--edit/delete-->
                    <div class='row' ng-show='userData && question.author.username === userData.username'>
                        <div class='col-xs-12'>
                            <div class='row'>
                                <button class='btn btn-xs btn-warning edit-option' ng-click='editQuestion(question)'>Edit</button>
                                <button class='btn btn-xs btn-danger' ng-click='deleteQuestion(question)'>Delete</button>
                            </div>
                        </div>
                    </div>
                    
                    <!--comments-->
                    <div class='row' ng-repeat='comment in question.comments'>
                        <div class='col-xs-12'>
                            <hr>
                            <p>{{comment.text}} - {{comment.author.username}}</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <hr>
                        </div>
                    </div>
                    <!--comment box-->
                    <div class='row' ng-init='commenting = false'>
                        <div class='col-xs-12'>
                            <a href='' ng-click='commenting = ensureLoggedIn(commenting);'>add a comment</a>
                        </div>
                    </div>
                    <div class='row' ng-show='commenting'>
                        <div class='col-xs-12'>
                            <div>
                                <textarea cols='80' rows='7' ng-model='textArea'></textarea>
                            </div>
                        </div>
                        <div class='col-xs-12'>
                            <div>
                                <button class='btn btn-primary' ng-click='submitComment(question); commenting = false;'>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--answers-->
            <h2>{{question.answers.length}} Answers</h2>
            <div class='row' ng-repeat='answer in question.answers'>
                <hr>
                <div class='col-xs-1'>
                    <!--Up arrow-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <a href='' ng-click='upvote(answer)'>
                                <i ng-class="isupvoted(answer) ? 'vote-selected' : 'vote-unselected'" class='fa fa-caret-up fa-3x' aria-hidden='true'></i>
                            </a>
                        </div>
                    </div>
                    <!--Vote count-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <h3 class='vote-detail'>{{answer.votes}}</h3>
                        </div>
                    </div>
                    <!--Down arrow-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <a href='' ng-click='downvote(answer)'>
                                <i ng-class="isdownvoted(answer) ? 'vote-selected' : 'vote-unselected'" class='fa fa-caret-down fa-3x' aria-hidden='true'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class='col-xs-11'>
                    <!--text-->
                    <div class='row'>
                        <div class='col-xs-12'>
                            <p ng-bind-html='answer.text'></p>
                        </div>
                    </div>
                    <!--profile-->
                    <div class='row pull-right'>
                        <div class='col-xs-12'>
                            <div class='row'>
                                <h5>answered {{answer.date | date: 'MMM d, y'}}</h5>
                            </div>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    <img class='profile-img' src='{{answer.author.url}}'>
                                </div>
                                <div class='col-xs-8'>
                                    <h6>{{answer.author.username}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--edit/delete-->
                    <div class='row' ng-show='userData && answer.author.username === userData.username'>
                        <div class='col-xs-12'>
                            <div class='row'>
                                <button class='btn btn-xs btn-warning edit-option' ng-click='editAnswer(answer)'>Edit</button>
                                <button class='btn btn-xs btn-danger' ng-click='deleteAnswer(answer)'>Delete</button>
                            </div>
                        </div>
                    </div>
                    <!--comments-->
                    <div class='row' ng-repeat='comment in answer.comments'>
                        <div class='col-xs-12'>
                            <hr>
                            <p>{{comment.text}} - {{comment.author.username}}</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <hr>
                        </div>
                    </div>
                    <!--comment box-->
                    <div class='row' ng-init='commenting = false'>
                        <div class='col-xs-12'>
                            <a href='' ng-click='commenting = ensureLoggedIn(commenting);'>add a comment</a>
                        </div>
                    </div>
                    <div class='row' ng-show='commenting'>
                        <div class='col-xs-12'>
                            <div>
                                <textarea cols='80' rows='7' ng-model='$parent.textArea'></textarea>
                            </div>
                        </div>
                        <div class='col-xs-12'>
                            <div>
                                <button class='btn btn-primary' ng-click='submitComment(answer); commenting = false;'>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr>
        <h3>Have an answer?</h3>
        <!--answer box-->
        <div class='row'>
            <div class='col-xs-12'>
                <form ng-submit='submitAnswer(question)' name='newAnswerForm' novalidate>
                    
                    <div class='form-group' ng-class=" { 'has-error': newAnswerForm.text.$touched && newAnswerForm.text.$invalid }">
                        <textarea class='form-control' name='text' ng-model='answerText' cols='80' rows='15' ng-minlength='10'></textarea>
                    </div>
                    
                    <div class='help-block' ng-messages='newAnswerForm.text.$error' ng-if='newAnswerForm.text.$touched'>
                        <p ng-message='minlength'>Answer text too short</p>
                    </div>
                    
                    <input type='submit' id='answer-button' class='btn btn-primary submit-button' ng-disabled='newAnswerForm.text.$invalid || !answerText'></input>
                    
                </form>
            </div>
        </div>
    </div>
</div>
