<div class='container' ng-controller='questionListCtrl'>
    <div class="jumbotron">
        <h1>Welcome to Code Exchange!</h1>
        <p>Have a programming question? Try asking your peers and see what they think!</p>
        <p><a class='btn btn-primary btn-lg' href='#/about' role='button'>Learn more</a></p>
    </div>
    <div class='row'>
        <div class='col-xs-10 col-xs-offset-1'>
            <div id='question-list-group'>
                <div class='row'>
                    <h4>Featured Questions</h4>
                </div>
                <div class='row'>
                    <div class='col-xs-12'>
                        <hr>
                    </div>
                </div>
                <ul id='question-list'>
                    <div class='row question-list-item' ng-repeat='question in questions'>
                        <div class='col-xs-3'>
                            <div class='row'>
                                <div id='vote-metric' class='col-xs-4 question-list-vote metric'>
                                    {{question.votes}}
                                </div>
                                <div class='col-xs-4 question-list-answers metric'>
                                    {{question.answers.length}}
                                </div>
                                <div class='col-xs-4 question-list-views metric'>
                                    {{question.views}}
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-4 question-list-vote'>votes</div>
                                <div class='col-xs-4 question-list-answers'>answers</div>
                                <div class='col-xs-4 question-list-views'>views</div>
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <div class='row'>
                                <div class='col-xs-12 text-wrap'>
                                    <a class='question-list-title' href="#/question/{{question._id}}">{{question.title}}</a>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-3'>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    asked {{question.date | date: 'MMM d, y'}} by {{question.author.username}}
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <hr>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
</div>