<div class='container'>
    <div class='row'>
        <div id='register-form' class='col-xs-5 col-xs-offset-3'>
            <h3>Register</h3>
            <form ng-submit='register()' name='registerForm'>
                <div class='form-group' ng-class=" { 'has-error': registerForm.username.$touched && registerForm.username.$invalid }">
                    <label for='usernameInput'>Username</label>
                    <input class='form-control' type='text' ng-model='username' ng-pattern='/^[a-zA-Z0-9]*$/' ng-trim='false' ng-minlength='3' name='username' id='usernameInput' required/>
                </div>
                
                <div class='help-block' ng-messages='registerForm.username.$error' ng-if='registerForm.username.$touched'>
                    <p ng-message='required'>Username required</p>
                    <p ng-message='minlength'>Username must be at least 3 characters</p>
                    <p ng-message='pattern'>Invalid username: Please use alphanumeric characters only.</p>
                </div>
                
                <div class='form-group' ng-class=" { 'has-error': registerForm.password.$touched && registerForm.password.$invalid }">
                    <label for='passwordInput'>Password</label>
                    <input class='form-control' type='password' name='password' ng-model='password' ng-minlength='5' id='passwordInput' required/>
                </div>
                
                <div class='help-block' ng-messages='registerForm.password.$error' ng-if='registerForm.password.$touched'>
                    <p ng-message='required'>Password required</p>
                    <p ng-message='minlength'>Password must be at least 5 characters</p>
                </div>
                
                <input type='submit' ng-disabled='!username || !password' id='submit' class='btn btn-primary'></input>
                
            </form>
        </div>
    </div>
</div>
